/* ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover:not(.active) {
    background-color: #111;
  }
  
  .active {
    background-color: #4CAF50;
  } */

  .header {
    background-image: linear-gradient(50deg, #551ed9, #617bc4);
}
.nav-item:hover{
  background-color: none !important;
}
@media only screen and (min-width: 991px)
{
  .mini-sidebar .header-left .logo img {
    display: none;
}
}
button{
  float: right;
    padding: 13px;
    background: none;
    border: none;
    color: white;
    font-size: 19px;
    outline: none !important;
}