.btn{
    /* width: 31%; */
}

::ng-deep mat-header-row{
    background: #2b2b47 !important;
    border-bottom: 4px solid #f62d51 !important;
}

::ng-deep mat-header-cell{
    color: white !important;
    font-size: 16px !important;
}