<div style="background-image: url('./assets/img/loginpagenew.jpeg');background-size: cover;background-repeat:no-repeat;height:100%;">

    <div class="main-wrapper account-wrapper">
        <div class="account-page">
            <div class="account-center">
                <form [formGroup]="loginform">



             
                <div class="account-box" >
                    <div class="account-logo">
                        <!-- <a><img src="assets/img/fuelrim_logo_text_original.png" alt="">
                        </a> -->
                        <p>Login</p>
                    </div>
                    <div class="form-group">
                        <label>Username </label>
                        <input type="text" formControlName="userId" autofocus="" class="form-control">
                        
                    </div>
                    <div class="form-group">
                        <label>Password</label>
                        <input type="password" formControlName="password" class="form-control">
                       
                    </div>



                    <div class="form-group text-center">
                        <button class="btn btn-danger" (click)="Masteradminlogin()">Login</button>
                      
                    </div>


                </div>
            </form>
            </div>
        </div>
    </div>
</div>
<!-- <div class="footer">
    <p>(c) DEVELOPED AND MAINTAINED BY 42KTECH SOLUTIONS</p>
</div> -->

