<app-header></app-header>
<app-sidebar></app-sidebar>

<div class="page-wrapper">




    <div class="content">


        <div class="row">
            <div class="col-sm-8">
                <h4 class="page-title"> Update data on {{arraydetails.date}} - <span *ngIf="arraydetails.shiftType === 'day_shift'">Day Shift </span>  <span *ngIf="arraydetails.shiftType === 'night_shift'">Night Shift </span></h4>

            </div>
        </div>
        <div class="card">

            <form [formGroup]="loadquantityform">


                <div class="row">

                    <div class="col-sm-6">
                        <label for="">Dispenser Readings for Petrol Type 91 : </label>

                        <div formArrayName="quantities" *ngFor="let a of getControls(); let i = index">
                            <div [formGroupName]="i" style="margin-bottom: 10px;">


                                <input type="number" name="pay" class="form-control" placeholder="Enter Quantity"
                                    formControlName="quantity">
                            </div>
                        </div>

                        <br>
                        <label for="">Total Readings</label>
                        <input type="text" class="form-control">

                        <br>
                        <label for="">Sales Quantity</label>
                        <input type="text" class="form-control">

                        <br>
                        <label for="">Rate</label>
                        <input type="text" class="form-control">
                        <br>
                        <label for="">Less Payment</label>
                        <input type="text" class="form-control">

                        <br>
                        <label for="">Bank Payment</label>
                        <input type="text" class="form-control">

                        <br>
                        <label for="">Collection</label>
                        <input type="text" class="form-control">

                        <br>
                        <label for="">Vehicle Number</label>
                        <input type="text" class="form-control">
                        <br>
                        <label for="">Cash Balance</label>
                        <input type="text" class="form-control">
                    </div>
                    <div class="col-sm-6">
                        <label for="">Dispenser Readings for Petrol Type 95 : </label>

                        <div formArrayName="stockdetailed95" *ngFor="let a of getControlss(); let i = index">
                            <div [formGroupName]="i" style="margin-bottom: 10px;">


                                <input type="number" name="pay" class="form-control" placeholder="Enter Quantity"
                                    formControlName="stockdetailed95">
                            </div>
                        </div>
                        <br>
                        <label for="">Total Readings</label>
                        <input type="text" class="form-control">

                        <br>
                        <label for="">Sales Quantity</label>
                        <input type="text" class="form-control">

                        <br>
                        <label for="">Rate</label>
                        <input type="text" class="form-control">
                        <br>
                        <label for="">Less Payment</label>
                        <input type="text" class="form-control">

                        <br>
                        <label for="">Bank Payment</label>
                        <input type="text" class="form-control">

                        <br>
                        <label for="">Collection</label>
                        <input type="text" class="form-control">

                        <br>
                        <label for="">Vehicle Number</label>
                        <input type="text" class="form-control">
                        <br>
                        <label for="">Cash Balance</label>
                        <input type="text" class="form-control">
                    </div>
                    <!-- <div class="col-sm-2">
                <label for=""> </label>
                <button class="btn btn-info" style="    margin-top: 31px;" (click)=addItem()>+</button>
            </div>

            <div class="col-sm-12" style="display: flex;">
                <button class="btn btn-warning" (click)="Close()">Close</button>

                <button class="btn btn-warning" (click)="submit()">SUBMIT</button>
           
            </div> -->  
            <div class="col-sm-12">
                <button class="btn btn-warning" (click)="submit()" style="margin-top: 20px;margin-right: auto; margin-left: auto; display: block; justify-content: center;    width: 25%;
                padding: 12px;
                color: white;
                font-weight: bold;
                letter-spacing: 2px;">SUBMIT</button>

            </div>
                </div>

            </form>
        </div>

    </div>
</div>