<app-header></app-header>
<app-sidebar></app-sidebar>

<div class="page-wrapper">




    <div class="content">


        <div class="row">
            <div class="col-sm-3">
                <h4 class="page-title">Stock Details</h4>

            </div>
            <div class="col-sm-9">

            </div>
            <div class="col-sm-4">
                <input type="date" class="form-control" style="margin-bottom: 20px;" (change)="getchangeevent($event)">
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">


                <mat-table [dataSource]="dataSource" matSort >

                    <!-- ID Column -->
                    <ng-container matColumnDef="id">
                        <mat-header-cell *matHeaderCellDef > ID </mat-header-cell>
                        <mat-cell *matCellDef="let row;let i=index;"> {{i+1}} </mat-cell>
                    </ng-container>

                  
                    <ng-container matColumnDef="shifttype">
                        <mat-header-cell *matHeaderCellDef > Shift Type</mat-header-cell>
                        <mat-cell *matCellDef="let row"> 
                            <!-- {{row.shiftType}} -->
                        <span *ngIf="row.shiftType === 'day_shift'"> Day Shift</span>
                        <span *ngIf="row.shiftType === 'night_shift'">Night Shift</span>

                        </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="date">
                        <mat-header-cell *matHeaderCellDef > Date</mat-header-cell>
                        <mat-cell *matCellDef="let row"> {{row.date}} </mat-cell>
                    </ng-container>

                   
                    <ng-container matColumnDef="view">
                        <mat-header-cell *matHeaderCellDef > Action</mat-header-cell>
                        <mat-cell *matCellDef="let row">
                            
                            <button class="btn btn-primary" (click)="openDialog(row)">View More</button> &nbsp;
                            <!-- <button class="btn btn-primary" (click)="openPdf(row)">View PDF</button> &nbsp; -->
                            <button class="btn btn-primary" (click)="editdetials(row)">Update Details</button> &nbsp;
                        
                        </mat-cell>
                    </ng-container>

                    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                    <mat-row *matRowDef="let row; columns: displayedColumns;">
                    </mat-row>

                    
                </mat-table>

                <!-- <mat-paginator></mat-paginator> -->
            </div>
        </div>
    </div>
</div>