/* You can add global styles to this file, and also import other style files

@import '~ngx-toastr/toastr';
html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.fa {
    color: black;
}

button {
    border: none !important;
} */

@import '~ngx-toastr/toastr.css';

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
/* @media only screen and (max-width: 991.98px)
{.sidebar {
    margin-left: 0px;
    width: 225px;
}} */



.sidebar{
    background: #2b2b47 !important;

}
.header{
    background: #2b2b47 !important;
}

/* .page-wrapper{
    background: #2b2b473d !important;
    height: 0px;
} */

